@charset "UTF-8";

body {
    font: 14px/18px normal Source Sans Pro, sans-serif;
    padding: 20px;
    background-color: #E6EBE0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
ul {
    margin: 20px;
    list-style: circle;
}
li {
    padding: 2px;
}
form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9BC1BC;
    border: 1px solid #5CA4A9;
}
input {
    border: 1px solid #DDD;
    margin: 10px;
}
#result{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F4F1BB;
    border: 1px solid #2E5266;
}
ul.errors li{
    color: #ED6A5A;
    list-style: none;
}
.center {
    text-align: center;
}

#result p {
    margin: 10px 0;
}
#result h2 {
    font-weight: 900;
    font-size: 1.5em;
}
.label{
    font-weight: 900;
    margin-right: 5px;
}
